            <<<<<<< Updated upstream body {
            background-color: rgb(104, 92, 92);
        }
        
        .formulario {
            background-color: rgb(186, 229, 215);
            border: 11px;
            =======.corpo {
                background-color: rgb(151, 148, 148);
                background-image: url(/imgs/fundo.jpg);
                background-size: cover;
                margin: auto;
            }
            .formulario {
                background-color: rgb(186, 231, 199);
                border: 5px;
                >>>>>>>Stashed changes font-weight: 500;
                padding: 1% 7%;
                text-transform: uppercase;
                width: 60%;
                align-items: center;
                justify-content: space-around;
                flex-shrink: 2.3;
                margin-left: 15%;
            }
            .input {
                align-items: center;
                width: 70%;
                justify-content: space-around;
                flex-grow: 2.3;
                margin-left: 1%;
            }